input { 
  text-align: center;
	color: transparent;
	text-shadow: 0 0 0 black;
	text-transform: uppercase;
}

body {
	background-image: url('../images/background_night.jpg');
	font-family: 'Raleway', sans-serif;
	color: white;
}

h1 {
	font-family: 'Limelight', cursive;
  margin-top: 10%;
}

.howTo {
  font-size: 22px;
  margin-top: 10%;
}

.bolded {
	font-weight: bold;
	background-color: #cc0000;

}

#rateYo, #rateYo2 {
	margin: auto;
}

.fact {
	margin: auto;
}

img {
  border:solid 0px;
  border-bottom-color:#ffe;
  border-left-color:#eed;
  border-right-color:#eed;
  border-top-color:#ccb;
  max-height:650px;
  max-width:100%;
}
.frame {
  background-color:#ddc;
  border:solid 3vmin #eee;
  border-bottom-color:#272626;
  border-left-color:#373434;
  border-radius:2px;
  border-right-color:#373434;
  border-top-color:#242222;
  box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
  box-sizing:border-box;
  display:inline-block;
  position:relative;
  text-align:center;
  &:before {
    border-radius:2px;
    bottom:-2vmin;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
    content:"";
    left:-2vmin;
    position:absolute;
    right:-2vmin;
    top:-2vmin;
  }
  &:after {
    border-radius:2px;
    bottom:-2.5vmin;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
    content:"";
    left:-2.5vmin;
    position:absolute;
    right:-2.5vmin;
    top:-2.5vmin;
  }
}

.panel, .panel-default, button {
	margin-top: 2%; 

}

.btn-lg {
	background-color: #cc0000;
}

.btn-lg:hover {
	background-color: #b30000;
}

.btn-lg:active:focus {
	box-shadow: none;
	background-color: #b30000;
}

.panel .panel-heading {
	background-color: #555;
	color: #FFF;
	font-family: 'Limelight', cursive;
	font-size: 22px;
}

.panel .panel-body {
	background-color: #333;
}

#rateYoRating, #rateYo2Rating {
	font-size: 24px;
	font-weight: bold;
}

.progress-bar {
	background-color: #cc0000;
}
